
/* responsive media quaries */
@media screen and (max-width: 576px) {
    .nav-container,
    .li-link {
      flex-direction: column;
    }
    li {
      margin-top: 10px;
    }
    .banner-container {
      flex-direction: column-reverse;
      gap: 1.5rem;
      text-align: center;
    }
    .customer-container {
      width: 40%;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      gap: 40px;
    }
  
    .card-img{
        /* text-align: center; */
        padding: 10px;
    }
    .card{
        width: fit-content;
        margin: 0 auto;
    }

    .products-container{
        grid-template-columns: 1fr;

    }
  }
  
  @media screen and (min-width: 577px) and (max-width: 960px) {
    .banner-container {
      flex-direction: column;
    }

     .products-container{
        grid-template-columns: repeat(2, 1fr);
        
    }
  }