/* shared style */

* {
  margin: 0;
  padding: 0;
}
/* products styles */
.product-name {
  color: #18191f;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px; /* 142.857% */
}

.products-price {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  font-weight: 400;
  line-height: 150%; /* 36px */
}

.products-desc {
  color: #787885;
  font-size: 14px;
  font-weight: 700;
  line-height: 143%; /* 20.02px */
  letter-spacing: 0.252px;
  margin-top: 15px;
}

.card-desc {
  margin-top: 16px;
  text-align: center;
}

.card-img{
    /* text-align: center; */
    padding: 5px;
}

.card {
  width: 329px;
  height: 476px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
}

/* products style done */



.banner-desc {
  color: #3a3a3a;
  font-weight: 600;
  margin: 16px 0;
}

.btn-shared {
  border: none;
  border-radius: 41px;
  background: #e02c6d;
  padding: 10px 24px;
  color: #fff;
  font-weight: 700;
}

.container {
  width: 80%;
  margin: 50px auto;
}

.title {
  color: #3a3a3a;
  font-size: 52px;
  font-weight: 700;
  line-height: 70px; /* 134.615% */
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

/* header styles */
.nav-title {
  color: #3a3a3a;
  font-size: 1.5rem;
  font-weight: 700;
}
li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: 600;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.li-link {
  display: flex;
  gap: 2rem;
}
/* banner */
.banner-image {
  background-image: url("../images/Circle\ design.svg");
}

.banner-container {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* main section styles */
main {
  margin-top: 100px;
}
/* customer section */
.customer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  border-top: 1px solid #3a3a3a18;
  border-bottom: 1px solid #3a3a3a18;
}

/* products section */
.products {
  margin-top: 100px;
}

.products-title {
  text-align: center;
  color: #3a3a3a;
  font-size: 28px;
  font-weight: 600;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
